/ArrayDimFetch.php
/ArrayItem.php
/Array_.php
/ArrowFunction.php
/Assign.php
/AssignOp.php
/AssignRef.php
/BinaryOp.php
/BitwiseNot.php
/BooleanNot.php
/Cast.php
/ClassConstFetch.php
/Clone_.php
/Closure.php
/ClosureUse.php
/ConstFetch.php
/Empty_.php
/Error.php
/ErrorSuppress.php
/Eval_.php
/Exit_.php
/FuncCall.php
/Include_.php
/Instanceof_.php
/Isset_.php
/List_.php
/Match_.php
/MethodCall.php
/New_.php
/NullsafeMethodCall.php
/NullsafePropertyFetch.php
/PostDec.php
/PostInc.php
/PreDec.php
/PreInc.php
/Print_.php
/PropertyFetch.php
/ShellExec.php
/StaticCall.php
/StaticPropertyFetch.php
/Ternary.php
/Throw_.php
/UnaryMinus.php
/UnaryPlus.php
/Variable.php
/YieldFrom.php
/Yield_.php
