/AddressEncoder.php
/AddressEncoderException.php
/Attachment.php
/CharacterReader.php
/CharacterReaderFactory.php
/CharacterStream.php
/ConfigurableSpool.php
/DependencyContainer.php
/DependencyException.php
/EmbeddedFile.php
/Encoder.php
/FailoverTransport.php
/FileSpool.php
/FileStream.php
/Filterable.php
/IdGenerator.php
/Image.php
/InputByteStream.php
/IoException.php
/KeyCache.php
/LoadBalancedTransport.php
/Mailer.php
/MemorySpool.php
/Message.php
/MimePart.php
/NullTransport.php
/OutputByteStream.php
/Preferences.php
/ReplacementFilterFactory.php
/RfcComplianceException.php
/SendmailTransport.php
/Signer.php
/SmtpTransport.php
/Spool.php
/SpoolTransport.php
/StreamFilter.php
/SwiftException.php
/Transport.php
/TransportException.php
