/IsEmptyStringTest.php
/IsEqualIgnoringCaseTest.php
/IsEqualIgnoringWhiteSpaceTest.php
/MatchesPatternTest.php
/StringContainsIgnoringCaseTest.php
/StringContainsInOrderTest.php
/StringContainsTest.php
/StringEndsWithTest.php
/StringStartsWithTest.php
