/ClassConstantEnumerator.php
/ClassEnumerator.php
/ConstantEnumerator.php
/Enumerator.php
/FunctionEnumerator.php
/GlobalVariableEnumerator.php
/MethodEnumerator.php
/PropertyEnumerator.php
/VariableEnumerator.php
