/BranchAndPathCoverageNotSupportedException.php
/DeadCodeDetectionNotSupportedException.php
/DirectoryCouldNotBeCreatedException.php
/Exception.php
/InvalidArgumentException.php
/NoCodeCoverageDriverAvailableException.php
/NoCodeCoverageDriverWithPathCoverageSupportAvailableException.php
/ParserException.php
/PathExistsButIsNotDirectoryException.php
/PcovNotAvailableException.php
/PhpdbgNotAvailableException.php
/ReflectionException.php
/ReportAlreadyFinalizedException.php
/StaticAnalysisCacheNotConfiguredException.php
/TestIdMissingException.php
/UnintentionallyCoveredCodeException.php
/WriteOperationFailedException.php
/WrongXdebugVersionException.php
/Xdebug2NotEnabledException.php
/Xdebug3NotEnabledException.php
/XdebugNotAvailableException.php
/XmlException.php
