/chevron-right.svg
/favicon.png.base64
/icon-book.svg
/icon-minus-square-o.svg
/icon-minus-square.svg
/icon-plus-square-o.svg
/icon-plus-square.svg
/icon-support.svg
/symfony-ghost.svg.php
/symfony-logo.svg
