/AddressLiteral.php
/CFWSNearAt.php
/CFWSWithFWS.php
/Comment.php
/DeprecatedComment.php
/DomainLiteral.php
/DomainTooLong.php
/EmailTooLong.php
/IPV6BadChar.php
/IPV6ColonEnd.php
/IPV6ColonStart.php
/IPV6Deprecated.php
/IPV6DoubleColon.php
/IPV6GroupCount.php
/IPV6MaxGroups.php
/LabelTooLong.php
/LocalTooLong.php
/NoDNSMXRecord.php
/ObsoleteDTEXT.php
/QuotedPart.php
/QuotedString.php
/TLD.php
/Warning.php
