/aa.php
/aa_DJ.php
/aa_ER.php
/aa_ER@saaho.php
/aa_ET.php
/af.php
/af_NA.php
/af_ZA.php
/agq.php
/agr.php
/agr_PE.php
/ak.php
/ak_GH.php
/am.php
/am_ET.php
/an.php
/an_ES.php
/anp.php
/anp_IN.php
/ar.php
/ar_AE.php
/ar_BH.php
/ar_DJ.php
/ar_DZ.php
/ar_EG.php
/ar_EH.php
/ar_ER.php
/ar_IL.php
/ar_IN.php
/ar_IQ.php
/ar_JO.php
/ar_KM.php
/ar_KW.php
/ar_LB.php
/ar_LY.php
/ar_MA.php
/ar_MR.php
/ar_OM.php
/ar_PS.php
/ar_QA.php
/ar_SA.php
/ar_SD.php
/ar_SO.php
/ar_SS.php
/ar_SY.php
/ar_Shakl.php
/ar_TD.php
/ar_TN.php
/ar_YE.php
/as.php
/as_IN.php
/asa.php
/ast.php
/ast_ES.php
/ayc.php
/ayc_PE.php
/az.php
/az_AZ.php
/az_Cyrl.php
/az_IR.php
/az_Latn.php
/bas.php
/be.php
/be_BY.php
/be_BY@latin.php
/bem.php
/bem_ZM.php
/ber.php
/ber_DZ.php
/ber_MA.php
/bez.php
/bg.php
/bg_BG.php
/bhb.php
/bhb_IN.php
/bho.php
/bho_IN.php
/bi.php
/bi_VU.php
/bm.php
/bn.php
/bn_BD.php
/bn_IN.php
/bo.php
/bo_CN.php
/bo_IN.php
/br.php
/br_FR.php
/brx.php
/brx_IN.php
/bs.php
/bs_BA.php
/bs_Cyrl.php
/bs_Latn.php
/byn.php
/byn_ER.php
/ca.php
/ca_AD.php
/ca_ES.php
/ca_ES_Valencia.php
/ca_FR.php
/ca_IT.php
/ccp.php
/ccp_IN.php
/ce.php
/ce_RU.php
/cgg.php
/chr.php
/chr_US.php
/cmn.php
/cmn_TW.php
/crh.php
/crh_UA.php
/cs.php
/cs_CZ.php
/csb.php
/csb_PL.php
/cu.php
/cv.php
/cv_RU.php
/cy.php
/cy_GB.php
/da.php
/da_DK.php
/da_GL.php
/dav.php
/de.php
/de_AT.php
/de_BE.php
/de_CH.php
/de_DE.php
/de_IT.php
/de_LI.php
/de_LU.php
/dje.php
/doi.php
/doi_IN.php
/dsb.php
/dsb_DE.php
/dua.php
/dv.php
/dv_MV.php
/dyo.php
/dz.php
/dz_BT.php
/ebu.php
/ee.php
/ee_TG.php
/el.php
/el_CY.php
/el_GR.php
/en.php
/en_001.php
/en_150.php
/en_AG.php
/en_AI.php
/en_AS.php
/en_AT.php
/en_AU.php
/en_BB.php
/en_BE.php
/en_BI.php
/en_BM.php
/en_BS.php
/en_BW.php
/en_BZ.php
/en_CA.php
/en_CC.php
/en_CH.php
/en_CK.php
/en_CM.php
/en_CX.php
/en_CY.php
/en_DE.php
/en_DG.php
/en_DK.php
/en_DM.php
/en_ER.php
/en_FI.php
/en_FJ.php
/en_FK.php
/en_FM.php
/en_GB.php
/en_GD.php
/en_GG.php
/en_GH.php
/en_GI.php
/en_GM.php
/en_GU.php
/en_GY.php
/en_HK.php
/en_IE.php
/en_IL.php
/en_IM.php
/en_IN.php
/en_IO.php
/en_ISO.php
/en_JE.php
/en_JM.php
/en_KE.php
/en_KI.php
/en_KN.php
/en_KY.php
/en_LC.php
/en_LR.php
/en_LS.php
/en_MG.php
/en_MH.php
/en_MO.php
/en_MP.php
/en_MS.php
/en_MT.php
/en_MU.php
/en_MW.php
/en_MY.php
/en_NA.php
/en_NF.php
/en_NG.php
/en_NL.php
/en_NR.php
/en_NU.php
/en_NZ.php
/en_PG.php
/en_PH.php
/en_PK.php
/en_PN.php
/en_PR.php
/en_PW.php
/en_RW.php
/en_SB.php
/en_SC.php
/en_SD.php
/en_SE.php
/en_SG.php
/en_SH.php
/en_SI.php
/en_SL.php
/en_SS.php
/en_SX.php
/en_SZ.php
/en_TC.php
/en_TK.php
/en_TO.php
/en_TT.php
/en_TV.php
/en_TZ.php
/en_UG.php
/en_UM.php
/en_US.php
/en_US_Posix.php
/en_VC.php
/en_VG.php
/en_VI.php
/en_VU.php
/en_WS.php
/en_ZA.php
/en_ZM.php
/en_ZW.php
/eo.php
/es.php
/es_419.php
/es_AR.php
/es_BO.php
/es_BR.php
/es_BZ.php
/es_CL.php
/es_CO.php
/es_CR.php
/es_CU.php
/es_DO.php
/es_EA.php
/es_EC.php
/es_ES.php
/es_GQ.php
/es_GT.php
/es_HN.php
/es_IC.php
/es_MX.php
/es_NI.php
/es_PA.php
/es_PE.php
/es_PH.php
/es_PR.php
/es_PY.php
/es_SV.php
/es_US.php
/es_UY.php
/es_VE.php
/et.php
/et_EE.php
/eu.php
/eu_ES.php
/ewo.php
/fa.php
/fa_AF.php
/fa_IR.php
/ff.php
/ff_CM.php
/ff_GN.php
/ff_MR.php
/ff_SN.php
/fi.php
/fi_FI.php
/fil.php
/fil_PH.php
/fo.php
/fo_DK.php
/fo_FO.php
/fr.php
/fr_BE.php
/fr_BF.php
/fr_BI.php
/fr_BJ.php
/fr_BL.php
/fr_CA.php
/fr_CD.php
/fr_CF.php
/fr_CG.php
/fr_CH.php
/fr_CI.php
/fr_CM.php
/fr_DJ.php
/fr_DZ.php
/fr_FR.php
/fr_GA.php
/fr_GF.php
/fr_GN.php
/fr_GP.php
/fr_GQ.php
/fr_HT.php
/fr_KM.php
/fr_LU.php
/fr_MA.php
/fr_MC.php
/fr_MF.php
/fr_MG.php
/fr_ML.php
/fr_MQ.php
/fr_MR.php
/fr_MU.php
/fr_NC.php
/fr_NE.php
/fr_PF.php
/fr_PM.php
/fr_RE.php
/fr_RW.php
/fr_SC.php
/fr_SN.php
/fr_SY.php
/fr_TD.php
/fr_TG.php
/fr_TN.php
/fr_VU.php
/fr_WF.php
/fr_YT.php
/fur.php
/fur_IT.php
/fy.php
/fy_DE.php
/fy_NL.php
/ga.php
/ga_IE.php
/gd.php
/gd_GB.php
/gez.php
/gez_ER.php
/gez_ET.php
/gl.php
/gl_ES.php
/gom.php
/gom_Latn.php
/gsw.php
/gsw_CH.php
/gsw_FR.php
/gsw_LI.php
/gu.php
/gu_IN.php
/guz.php
/gv.php
/gv_GB.php
/ha.php
/ha_GH.php
/ha_NE.php
/ha_NG.php
/hak.php
/hak_TW.php
/haw.php
/he.php
/he_IL.php
/hi.php
/hi_IN.php
/hif.php
/hif_FJ.php
/hne.php
/hne_IN.php
/hr.php
/hr_BA.php
/hr_HR.php
/hsb.php
/hsb_DE.php
/ht.php
/ht_HT.php
/hu.php
/hu_HU.php
/hy.php
/hy_AM.php
/i18n.php
/ia.php
/ia_FR.php
/id.php
/id_ID.php
/ig.php
/ig_NG.php
/ii.php
/ik.php
/ik_CA.php
/in.php
/is.php
/is_IS.php
/it.php
/it_CH.php
/it_IT.php
/it_SM.php
/it_VA.php
/iu.php
/iu_CA.php
/iw.php
/ja.php
/ja_JP.php
/jgo.php
/jmc.php
/jv.php
/ka.php
/ka_GE.php
/kab.php
/kab_DZ.php
/kam.php
/kde.php
/kea.php
/khq.php
/ki.php
/kk.php
/kk_KZ.php
/kkj.php
/kl.php
/kl_GL.php
/kln.php
/km.php
/km_KH.php
/kn.php
/kn_IN.php
/ko.php
/ko_KP.php
/ko_KR.php
/kok.php
/kok_IN.php
/ks.php
/ks_IN.php
/ks_IN@devanagari.php
/ksb.php
/ksf.php
/ksh.php
/ku.php
/ku_TR.php
/kw.php
/kw_GB.php
/ky.php
/ky_KG.php
/lag.php
/lb.php
/lb_LU.php
/lg.php
/lg_UG.php
/li.php
/li_NL.php
/lij.php
/lij_IT.php
/lkt.php
/ln.php
/ln_AO.php
/ln_CD.php
/ln_CF.php
/ln_CG.php
/lo.php
/lo_LA.php
/lrc.php
/lrc_IQ.php
/lt.php
/lt_LT.php
/lu.php
/luo.php
/luy.php
/lv.php
/lv_LV.php
/lzh.php
/lzh_TW.php
/mag.php
/mag_IN.php
/mai.php
/mai_IN.php
/mas.php
/mas_TZ.php
/mer.php
/mfe.php
/mfe_MU.php
/mg.php
/mg_MG.php
/mgh.php
/mgo.php
/mhr.php
/mhr_RU.php
/mi.php
/mi_NZ.php
/miq.php
/miq_NI.php
/mjw.php
/mjw_IN.php
/mk.php
/mk_MK.php
/ml.php
/ml_IN.php
/mn.php
/mn_MN.php
/mni.php
/mni_IN.php
/mo.php
/mr.php
/mr_IN.php
/ms.php
/ms_BN.php
/ms_MY.php
/ms_SG.php
/mt.php
/mt_MT.php
/mua.php
/my.php
/my_MM.php
/mzn.php
/nan.php
/nan_TW.php
/nan_TW@latin.php
/naq.php
/nb.php
/nb_NO.php
/nb_SJ.php
/nd.php
/nds.php
/nds_DE.php
/nds_NL.php
/ne.php
/ne_IN.php
/ne_NP.php
/nhn.php
/nhn_MX.php
/niu.php
/niu_NU.php
/nl.php
/nl_AW.php
/nl_BE.php
/nl_BQ.php
/nl_CW.php
/nl_NL.php
/nl_SR.php
/nl_SX.php
/nmg.php
/nn.php
/nn_NO.php
/nnh.php
/no.php
/nr.php
/nr_ZA.php
/nso.php
/nso_ZA.php
/nus.php
/nyn.php
/oc.php
/oc_FR.php
/om.php
/om_ET.php
/om_KE.php
/or.php
/or_IN.php
/os.php
/os_RU.php
/pa.php
/pa_Arab.php
/pa_Guru.php
/pa_IN.php
/pa_PK.php
/pap.php
/pap_AW.php
/pap_CW.php
/pl.php
/pl_PL.php
/prg.php
/ps.php
/ps_AF.php
/pt.php
/pt_AO.php
/pt_BR.php
/pt_CH.php
/pt_CV.php
/pt_GQ.php
/pt_GW.php
/pt_LU.php
/pt_MO.php
/pt_MZ.php
/pt_PT.php
/pt_ST.php
/pt_TL.php
/qu.php
/qu_BO.php
/qu_EC.php
/quz.php
/quz_PE.php
/raj.php
/raj_IN.php
/rm.php
/rn.php
/ro.php
/ro_MD.php
/ro_RO.php
/rof.php
/ru.php
/ru_BY.php
/ru_KG.php
/ru_KZ.php
/ru_MD.php
/ru_RU.php
/ru_UA.php
/rw.php
/rw_RW.php
/rwk.php
/sa.php
/sa_IN.php
/sah.php
/sah_RU.php
/saq.php
/sat.php
/sat_IN.php
/sbp.php
/sc.php
/sc_IT.php
/sd.php
/sd_IN.php
/sd_IN@devanagari.php
/se.php
/se_FI.php
/se_NO.php
/se_SE.php
/seh.php
/ses.php
/sg.php
/sgs.php
/sgs_LT.php
/sh.php
/shi.php
/shi_Latn.php
/shi_Tfng.php
/shn.php
/shn_MM.php
/shs.php
/shs_CA.php
/si.php
/si_LK.php
/sid.php
/sid_ET.php
/sk.php
/sk_SK.php
/sl.php
/sl_SI.php
/sm.php
/sm_WS.php
/smn.php
/sn.php
/so.php
/so_DJ.php
/so_ET.php
/so_KE.php
/so_SO.php
/sq.php
/sq_AL.php
/sq_MK.php
/sq_XK.php
/sr.php
/sr_Cyrl.php
/sr_Cyrl_BA.php
/sr_Cyrl_ME.php
/sr_Cyrl_XK.php
/sr_Latn.php
/sr_Latn_BA.php
/sr_Latn_ME.php
/sr_Latn_XK.php
/sr_ME.php
/sr_RS.php
/sr_RS@latin.php
/ss.php
/ss_ZA.php
/st.php
/st_ZA.php
/sv.php
/sv_AX.php
/sv_FI.php
/sv_SE.php
/sw.php
/sw_CD.php
/sw_KE.php
/sw_TZ.php
/sw_UG.php
/szl.php
/szl_PL.php
/ta.php
/ta_IN.php
/ta_LK.php
/ta_MY.php
/ta_SG.php
/tcy.php
/tcy_IN.php
/te.php
/te_IN.php
/teo.php
/teo_KE.php
/tet.php
/tg.php
/tg_TJ.php
/th.php
/th_TH.php
/the.php
/the_NP.php
/ti.php
/ti_ER.php
/ti_ET.php
/tig.php
/tig_ER.php
/tk.php
/tk_TM.php
/tl.php
/tl_PH.php
/tlh.php
/tn.php
/tn_ZA.php
/to.php
/to_TO.php
/tpi.php
/tpi_PG.php
/tr.php
/tr_CY.php
/tr_TR.php
/ts.php
/ts_ZA.php
/tt.php
/tt_RU.php
/tt_RU@iqtelif.php
/twq.php
/tzl.php
/tzm.php
/tzm_Latn.php
/ug.php
/ug_CN.php
/uk.php
/uk_UA.php
/unm.php
/unm_US.php
/ur.php
/ur_IN.php
/ur_PK.php
/uz.php
/uz_Arab.php
/uz_Cyrl.php
/uz_Latn.php
/uz_UZ.php
/uz_UZ@cyrillic.php
/vai.php
/vai_Latn.php
/vai_Vaii.php
/ve.php
/ve_ZA.php
/vi.php
/vi_VN.php
/vo.php
/vun.php
/wa.php
/wa_BE.php
/wae.php
/wae_CH.php
/wal.php
/wal_ET.php
/wo.php
/wo_SN.php
/xh.php
/xh_ZA.php
/xog.php
/yav.php
/yi.php
/yi_US.php
/yo.php
/yo_BJ.php
/yo_NG.php
/yue.php
/yue_HK.php
/yue_Hans.php
/yue_Hant.php
/yuw.php
/yuw_PG.php
/zgh.php
/zh.php
/zh_CN.php
/zh_HK.php
/zh_Hans.php
/zh_Hans_HK.php
/zh_Hans_MO.php
/zh_Hans_SG.php
/zh_Hant.php
/zh_Hant_HK.php
/zh_Hant_MO.php
/zh_Hant_TW.php
/zh_MO.php
/zh_SG.php
/zh_TW.php
/zh_YUE.php
/zu.php
/zu_ZA.php
