/AccessDeniedHttpException.php
/BadRequestHttpException.php
/ConflictHttpException.php
/ControllerDoesNotReturnResponseException.php
/GoneHttpException.php
/HttpException.php
/HttpExceptionInterface.php
/InvalidMetadataException.php
/LengthRequiredHttpException.php
/MethodNotAllowedHttpException.php
/NotAcceptableHttpException.php
/NotFoundHttpException.php
/PreconditionFailedHttpException.php
/PreconditionRequiredHttpException.php
/ServiceUnavailableHttpException.php
/TooManyRequestsHttpException.php
/UnauthorizedHttpException.php
/UnexpectedSessionUsageException.php
/UnprocessableEntityHttpException.php
/UnsupportedMediaTypeHttpException.php
