/CompilesAuthorizations.php
/CompilesComments.php
/CompilesComponents.php
/CompilesConditionals.php
/CompilesEchos.php
/CompilesErrors.php
/CompilesHelpers.php
/CompilesIncludes.php
/CompilesInjections.php
/CompilesJson.php
/CompilesLayouts.php
/CompilesLoops.php
/CompilesRawPhp.php
/CompilesStacks.php
/CompilesTranslations.php
