/ascii_by_languages.php
/ascii_extras_by_languages.php
/ascii_language_max_key.php
/ascii_ord.php
/x000.php
/x001.php
/x002.php
/x003.php
/x004.php
/x005.php
/x006.php
/x007.php
/x009.php
/x00a.php
/x00b.php
/x00c.php
/x00d.php
/x00e.php
/x00f.php
/x010.php
/x011.php
/x012.php
/x013.php
/x014.php
/x015.php
/x016.php
/x017.php
/x018.php
/x01d.php
/x01e.php
/x01f.php
/x020.php
/x021.php
/x022.php
/x023.php
/x024.php
/x025.php
/x026.php
/x027.php
/x028.php
/x029.php
/x02a.php
/x02c.php
/x02e.php
/x02f.php
/x030.php
/x031.php
/x032.php
/x033.php
/x04d.php
/x04e.php
/x04f.php
/x050.php
/x051.php
/x052.php
/x053.php
/x054.php
/x055.php
/x056.php
/x057.php
/x058.php
/x059.php
/x05a.php
/x05b.php
/x05c.php
/x05d.php
/x05e.php
/x05f.php
/x060.php
/x061.php
/x062.php
/x063.php
/x064.php
/x065.php
/x066.php
/x067.php
/x068.php
/x069.php
/x06a.php
/x06b.php
/x06c.php
/x06d.php
/x06e.php
/x06f.php
/x070.php
/x071.php
/x072.php
/x073.php
/x074.php
/x075.php
/x076.php
/x077.php
/x078.php
/x079.php
/x07a.php
/x07b.php
/x07c.php
/x07d.php
/x07e.php
/x07f.php
/x080.php
/x081.php
/x082.php
/x083.php
/x084.php
/x085.php
/x086.php
/x087.php
/x088.php
/x089.php
/x08a.php
/x08b.php
/x08c.php
/x08d.php
/x08e.php
/x08f.php
/x090.php
/x091.php
/x092.php
/x093.php
/x094.php
/x095.php
/x096.php
/x097.php
/x098.php
/x099.php
/x09a.php
/x09b.php
/x09c.php
/x09d.php
/x09e.php
/x09f.php
/x0a0.php
/x0a1.php
/x0a2.php
/x0a3.php
/x0a4.php
/x0ac.php
/x0ad.php
/x0ae.php
/x0af.php
/x0b0.php
/x0b1.php
/x0b2.php
/x0b3.php
/x0b4.php
/x0b5.php
/x0b6.php
/x0b7.php
/x0b8.php
/x0b9.php
/x0ba.php
/x0bb.php
/x0bc.php
/x0bd.php
/x0be.php
/x0bf.php
/x0c0.php
/x0c1.php
/x0c2.php
/x0c3.php
/x0c4.php
/x0c5.php
/x0c6.php
/x0c7.php
/x0c8.php
/x0c9.php
/x0ca.php
/x0cb.php
/x0cc.php
/x0cd.php
/x0ce.php
/x0cf.php
/x0d0.php
/x0d1.php
/x0d2.php
/x0d3.php
/x0d4.php
/x0d5.php
/x0d6.php
/x0d7.php
/x0f9.php
/x0fa.php
/x0fb.php
/x0fc.php
/x0fd.php
/x0fe.php
/x0ff.php
/x1d4.php
/x1d5.php
/x1d6.php
/x1d7.php
/x1f1.php
