/BadComparisonUnitException.php
/BadFluentConstructorException.php
/BadFluentSetterException.php
/BadMethodCallException.php
/Exception.php
/ImmutableException.php
/InvalidArgumentException.php
/InvalidCastException.php
/InvalidDateException.php
/InvalidFormatException.php
/InvalidIntervalException.php
/InvalidPeriodDateException.php
/InvalidPeriodParameterException.php
/InvalidTimeZoneException.php
/InvalidTypeException.php
/NotACarbonClassException.php
/NotAPeriodException.php
/NotLocaleAwareException.php
/OutOfRangeException.php
/ParseErrorException.php
/RuntimeException.php
/UnitException.php
/UnitNotConfiguredException.php
/UnknownGetterException.php
/UnknownMethodException.php
/UnknownSetterException.php
/UnknownUnitException.php
/UnreachableException.php
