/AmqpCaster.php
/ArgsStub.php
/Caster.php
/ClassStub.php
/ConstStub.php
/CutArrayStub.php
/CutStub.php
/DOMCaster.php
/DateCaster.php
/DoctrineCaster.php
/DsCaster.php
/DsPairStub.php
/EnumStub.php
/ExceptionCaster.php
/FrameStub.php
/GmpCaster.php
/ImagineCaster.php
/ImgStub.php
/IntlCaster.php
/LinkStub.php
/MemcachedCaster.php
/PdoCaster.php
/PgSqlCaster.php
/ProxyManagerCaster.php
/RdKafkaCaster.php
/RedisCaster.php
/ReflectionCaster.php
/ResourceCaster.php
/SplCaster.php
/StubCaster.php
/SymfonyCaster.php
/TraceStub.php
/UuidCaster.php
/XmlReaderCaster.php
/XmlResourceCaster.php
