/BitwiseAnd.php
/BitwiseOr.php
/BitwiseXor.php
/BooleanAnd.php
/BooleanOr.php
/Coalesce.php
/Concat.php
/Div.php
/Equal.php
/Greater.php
/GreaterOrEqual.php
/Identical.php
/LogicalAnd.php
/LogicalOr.php
/LogicalXor.php
/Minus.php
/Mod.php
/Mul.php
/NotEqual.php
/NotIdentical.php
/Plus.php
/Pow.php
/ShiftLeft.php
/ShiftRight.php
/Smaller.php
/SmallerOrEqual.php
/Spaceship.php
