/AtextAfterCFWS.php
/CRLFAtTheEnd.php
/CRLFX2.php
/CRNoLF.php
/CharNotAllowed.php
/CommaInDomain.php
/ConsecutiveAt.php
/ConsecutiveDot.php
/DomainAcceptsNoMail.php
/DomainHyphened.php
/DotAtEnd.php
/DotAtStart.php
/ExpectingAT.php
/ExpectingATEXT.php
/ExpectingCTEXT.php
/ExpectingDTEXT.php
/ExpectingDomainLiteralClose.php
/ExpectingQPair.php
/InvalidEmail.php
/LocalOrReservedDomain.php
/NoDNSRecord.php
/NoDomainPart.php
/NoLocalPart.php
/UnclosedComment.php
/UnclosedQuotedString.php
/UnopenedComment.php
