/ConvertLogTypes.php
/CoverageCloverToReport.php
/CoverageCrap4jToReport.php
/CoverageHtmlToReport.php
/CoveragePhpToReport.php
/CoverageTextToReport.php
/CoverageXmlToReport.php
/IntroduceCoverageElement.php
/LogToReportMigration.php
/Migration.php
/MoveAttributesFromFilterWhitelistToCoverage.php
/MoveAttributesFromRootToCoverage.php
/MoveWhitelistDirectoriesToCoverage.php
/MoveWhitelistExcludesToCoverage.php
/RemoveCacheTokensAttribute.php
/RemoveEmptyFilter.php
/RemoveLogTypes.php
/UpdateSchemaLocationTo93.php
