/Builder.php
/Collection.php
/HigherOrderBuilderProxy.php
/InvalidCastException.php
/JsonEncodingException.php
/MassAssignmentException.php
/Model.php
/ModelNotFoundException.php
/QueueEntityResolver.php
/RelationNotFoundException.php
/Scope.php
/SoftDeletes.php
/SoftDeletingScope.php
