/AdapterInterface.php
/Config.php
/ConfigAwareTrait.php
/ConnectionErrorException.php
/ConnectionRuntimeException.php
/Directory.php
/Exception.php
/File.php
/FileExistsException.php
/FileNotFoundException.php
/Filesystem.php
/FilesystemException.php
/FilesystemInterface.php
/FilesystemNotFoundException.php
/Handler.php
/InvalidRootException.php
/MountManager.php
/NotSupportedException.php
/PluginInterface.php
/ReadInterface.php
/RootViolationException.php
/SafeStorage.php
/UnreadableFileException.php
/Util.php
