/CallableType.php
/GenericObjectType.php
/IterableType.php
/MixedType.php
/NullType.php
/ObjectType.php
/ReflectionMapper.php
/SimpleType.php
/StaticType.php
/Type.php
/TypeName.php
/UnionType.php
/UnknownType.php
/VoidType.php
