/AntiFloodPlugin.php
/BandwidthMonitorPlugin.php
/DecoratorPlugin.php
/ImpersonatePlugin.php
/Logger.php
/LoggerPlugin.php
/MessageLogger.php
/PopBeforeSmtpPlugin.php
/RedirectingPlugin.php
/Reporter.php
/ReporterPlugin.php
/Sleeper.php
/ThrottlerPlugin.php
/Timer.php
