/AllOf.php
/AnyOf.php
/CombinableMatcher.php
/DescribedAs.php
/Every.php
/HasToString.php
/Is.php
/IsAnything.php
/IsCollectionContaining.php
/IsEqual.php
/IsIdentical.php
/IsInstanceOf.php
/IsNot.php
/IsNull.php
/IsSame.php
/IsTypeOf.php
/Set.php
/ShortcutCombination.php
