/ActualValueIsNotAnObjectException.php
/AssertionFailedError.php
/CodeCoverageException.php
/ComparisonMethodDoesNotAcceptParameterTypeException.php
/ComparisonMethodDoesNotDeclareBoolReturnTypeException.php
/ComparisonMethodDoesNotDeclareExactlyOneParameterException.php
/ComparisonMethodDoesNotDeclareParameterTypeException.php
/ComparisonMethodDoesNotExistException.php
/CoveredCodeNotExecutedException.php
/Error.php
/Exception.php
/ExpectationFailedException.php
/IncompleteTestError.php
/InvalidArgumentException.php
/InvalidCoversTargetException.php
/InvalidDataProviderException.php
/MissingCoversAnnotationException.php
/NoChildTestSuiteException.php
/OutputError.php
/PHPTAssertionFailedError.php
/RiskyTestError.php
/SkippedTestError.php
/SkippedTestSuiteError.php
/SyntheticError.php
/SyntheticSkippedError.php
/UnintentionallyCoveredCodeError.php
/Warning.php
