/BadMethodCallException.php
/CannotUseAddMethodsException.php
/CannotUseOnlyMethodsException.php
/ClassAlreadyExistsException.php
/ClassIsFinalException.php
/ConfigurableMethodsAlreadyInitializedException.php
/DuplicateMethodException.php
/Exception.php
/IncompatibleReturnValueException.php
/InvalidMethodNameException.php
/MatchBuilderNotFoundException.php
/MatcherAlreadyRegisteredException.php
/MethodCannotBeConfiguredException.php
/MethodNameAlreadyConfiguredException.php
/MethodNameNotConfiguredException.php
/MethodParametersAlreadyConfiguredException.php
/OriginalConstructorInvocationRequiredException.php
/ReflectionException.php
/ReturnValueNotConfiguredException.php
/RuntimeException.php
/SoapExtensionNotAvailableException.php
/UnknownClassException.php
/UnknownTraitException.php
/UnknownTypeException.php
