/branches.html.dist
/coverage_bar.html.dist
/coverage_bar_branch.html.dist
/dashboard.html.dist
/dashboard_branch.html.dist
/directory.html.dist
/directory_branch.html.dist
/directory_item.html.dist
/directory_item_branch.html.dist
/file.html.dist
/file_branch.html.dist
/file_item.html.dist
/file_item_branch.html.dist
/line.html.dist
/lines.html.dist
/method_item.html.dist
/method_item_branch.html.dist
/paths.html.dist
