/AbstractClassPass.php
/AssignThisVariablePass.php
/CallTimePassByReferencePass.php
/CalledClassPass.php
/CodeCleanerPass.php
/EmptyArrayDimFetchPass.php
/ExitPass.php
/FinalClassPass.php
/FunctionContextPass.php
/FunctionReturnInWriteContextPass.php
/ImplicitReturnPass.php
/InstanceOfPass.php
/IssetPass.php
/LabelContextPass.php
/LeavePsyshAlonePass.php
/ListPass.php
/LoopContextPass.php
/MagicConstantsPass.php
/NamespaceAwarePass.php
/NamespacePass.php
/NoReturnValue.php
/PassableByReferencePass.php
/RequirePass.php
/ReturnTypePass.php
/StrictTypesPass.php
/UseStatementPass.php
/ValidClassNamePass.php
/ValidConstantPass.php
/ValidConstructorPass.php
/ValidFunctionNamePass.php
