/AllOfTest.php
/AnyOfTest.php
/CombinableMatcherTest.php
/DescribedAsTest.php
/EveryTest.php
/HasToStringTest.php
/IsAnythingTest.php
/IsCollectionContainingTest.php
/IsEqualTest.php
/IsIdenticalTest.php
/IsInstanceOfTest.php
/IsNotTest.php
/IsNullTest.php
/IsSameTest.php
/IsTest.php
/IsTypeOfTest.php
/SampleBaseClass.php
/SampleSubClass.php
/SetTest.php
