/CommandEvent.php
/CommandListener.php
/Event.php
/EventDispatcher.php
/EventListener.php
/EventObject.php
/ResponseEvent.php
/ResponseListener.php
/SendEvent.php
/SendListener.php
/SimpleEventDispatcher.php
/TransportChangeEvent.php
/TransportChangeListener.php
/TransportExceptionEvent.php
/TransportExceptionListener.php
